
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    gap: 2px;
    margin: 20px 30px;
    background-color:#f4f4f4;;
 
 

}
.username {
    padding: 20px;

    border: 2px solid gray;
    border-radius: 2px;

    width: 90%;


}

.username input {
    border: none;
    outline: none;
    padding: 1px;
}

.Password {
    padding: 20px;

    border: 2px solid grey;
    width: 90%;
    

}

.Password input {
    border: none;
    outline: none;
    padding: 1px;
}

.signinbutton button {
    display: flex;
    width: 100%;
    background-color: green;
    justify-content: center;
    line-height: 40px;
    padding: 2px 20px;
    color: white;
    font-size: larger;
}

.or {
    padding: 10px;
    border-top: 1px solid gray;
    text-align: center;
}

.remind {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.container {
    width: 500px;
  

  
}
 
.icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    max-width:  300px;
    margin: auto;
}

.icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.icon button i {
    margin-right: 8px;
    font-size: 20px;
}
 a{
    color: green;
}
.A{
    text-align: center;
}
.icon .Google{
    color: white;
    background-color: red;
    
}
.icon .Facebook{
    color: white;
    background-color: blue;   
}
.icon .linkedin{
    color: white;
    background-color: blue;
}
.icon .Github{
    color: white;
    background-color: black;
}

.EMAIL{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
  
   
}
.Form input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 0px;
}
.Submit{
    color: #f0f0f0;
    
}
.Submit input{
    background-color: #e3b04b;
    font-size:small;
    color: white;
    padding: 5px;
    border-radius: 3px;
}   

.main{
    display: flex;
}
.main .ADDRESS{
    padding-top: 35px;
}
.p-detail{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    padding-top: 0;
    margin-top: 0;
}

.container2{
    border: 2px solid white;

   background-color: white;
    width: 800px;
    padding: 15px 15px;
    padding: 1.5rem !important;
    font-family: popsi;
}


a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2);

}
a:hover{
    color: black;

}


.ADDRESS{
    display: block;}
    .main span{
    color: rgba(0, 0, 0, 0.2);
    }














